@page "/inicio"
@rendermode InteractiveServer

<div class="container mt-4">
    <div class="row">
        <div class="col-4">
            <CitasHoy></CitasHoy>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">

        </div>
    </div>
</div>

@code {

}
